<div class="navbar navbar-inverse" role="navigation" style="background-color:#660000  ;">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="font-size: 30px; text-align: center; color: white;" class="navbar-brand" href="/"> PITCH </a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="#">HOME</a></li></ul>
              <ul>
                  <li><a href="/category"> </a></li>
              </ul>
      </div>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('main.index',uname=current_user.username)}}">Profile</a></li>
          <button class="btn btn-default"> <a href="/new/pickupline">ADD PITCH</a> </button>
          <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
          {% else %}
          <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
          {%endif%}
        </ul>  
  </div>
</div>